/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define BAS 0
#define QWE 1
#define EXT 2
#define SYM 3
#define FUN 4

/ {
        macros {
                lang_switch: lang_switch {
                        label = "Language toggle";
                        compatible = "zmk,behavior-macro";
                        bindings
                                = <&macro_press &kp LGUI>
                                , <&tog QWE>
                                , <&macro_pat SPACE>
                                , <&macro_release &kp LGUI>
                                ;
                };
        };

        conditional_layers {
                compatible = "zmk,conditional-layers";
                tri_layer {
                        if-layers = <2 3>;
                        then-layer = <4>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
   &none &kp Q &kp W &kp F &kp P &kp B    &kp J &kp L  &kp U     &kp Y   &kp SQT  &none
   &none &kp A &kp R &kp S &kp T &kp G    &kp M &kp N  &kp E     &kp I   &kp O    &none
   &none &kp Z &kp X &kp C &kp D &kp V    &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &none
               &none &mo EXT &kp LSHFT    &kp SPACE &mo SYM &none
                        >;
                };

                qwerty_layer {
                        bindings = <
   &none &kp Q &kp W &kp E &kp R &kp T    &kp Y &kp U  &kp I     &kp O   &kp P    &none
   &none &kp A &kp S &kp D &kp F &kp G    &kp H &kp J  &kp K     &kp L   &kp SQT  &none
   &none &kp Z &kp X &kp C &kp V &kp B    &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &none
                   &none &trans &trans    &trans &trans &none
                        >;
                };


                ext_layer {
                        bindings = <
   &none &gresc    &kp LG(LS(LBKT)) &kp LG(F) &kp LG(LS(RBKT)) &kp LG(B)             &kp PG_UP    &kp HOME &kp UP   &kp END   &kp CAPS &none
   &none &sk LALT  &sk LGUI         &sk LSHFT &sk LCTRL        &kp <&lang_switch>    &kp PG_DN    &kp LEFT &kp DOWN &kp RIGHT &kp DEL  &none
   &none &kp LG(Z) &kp LG(X)        &kp LG(C) &kp TAB          &kp LG(V)             &kp LA(BSPC) &kp BSPC &none    &none     &none    &none
                                    &none     &trans           &trans                &kp RET      &trans   &none
                        >;
                };

                sym_layer {
                        bindings = <
   &none &kp N1  &kp N2    &kp N3   &kp N4    &kp N5       &kp N6    &kp N7    &kp N8    &kp N9   &kp N0    &none
   &none &kp LT  &kp PRCNT &kp LBRC &kp LPAR  &kp LBKT     &kp EQUAL &kp UNDER &kp COLON &kp PIPE &kp GRAVE &none
   &none &kp GT  &kp AMPS  &kp RBRC &kp RPAR  &kp RBKT     &kp PLUS  &kp MINUS &kp SEMI  &kp BSLH &kp TILDE &none
                                    &trans &trans &trans   &trans &trans &trans
                        >;
                };

//                 sym_layer {
//                         bindings = <
//    &none &kp EXCL  &kp AT    &kp HASH &kp COLON &kp SEMI   &kp EQUAL &kp N4 &kp N5 &kp N6 &kp PLUS  &none
//    &none &kp BSLH  &kp PRCNT &kp LBRC &kp LPAR  &kp LBKT   &kp N0    &kp N1 &kp N2 &kp N3 &kp MINUS &none
//    &none &kp GRAVE &kp UNDER &kp RBRC &kp RPAR  &kp RBKT   &kp STAR  &kp N7 &kp N8 &kp N9 &kp FSLH  &none
//                                     &trans &trans &trans   &trans &trans &trans
//                         >;
//                 };

                fun_layer {
                        bindings = <
   &none &none &kp C_PREV   &kp C_PP   &kp C_NEXT   &kp C_BRI_UP    &none &none &none &none &none &none
   &none &none &kp C_VOL_DN &kp C_MUTE &kp C_VOL_UP &kp C_BRI_DN    &none &none &none &none &none &none
   &none &none &none        &none      &none        &none           &none &none &none &none &none &none
                     &none &none &none    &none &none &none
                        >;
                };
        };
};
